@*@{
    ViewData["Title"] = "Users table";
}*@
@model IEnumerable<Task4AppMvc.Models.User>

@{
    ViewBag.Title = "UserGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserGrid</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <p>@ViewData["Message"]</p>
</div>
@using (Html.BeginForm("UserGrid", "User", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
<table class="table">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.LastLoginTime)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.LastLoginTime)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.RegistrationTime)
            </td>
             <td>
                    <input type="checkbox" name="IsActive" value="@item.Id" @(item.IsActive ? "checked" : "") class="delete-checkbox" onchange="updateIsActive(@item.Id, this.checked)" />
            </td>
            <td>
                    <input type="checkbox" name="Delete-@item.Id" value="@item.Id"/>
                    @Html.LabelFor(model => item.Id, "Delete Checkbox")       
            </td>
        </tr>
        }    
</table>
        <button type="submit" asp-action="DeleteUser" asp-controller="User" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete selected users?')">Delete Selected Users</button>
        <button type="button" id="blockButton" class="btn btn-primary" onclick="blockSelectedUsers(true)">Unblock Selected Users</button>
        <button type="button" id="unblockButton" class="btn btn-primary" onclick="blockSelectedUsers(false)">Block Selected Users</button>
    @*<div>
              <label><input type="checkbox" id="select-all-checkbox"> Select All</label>
                <label><input type="checkbox" id="unselect-all-checkbox"> Unselect All</label>
            </div>*@
            <div>
                <label>
                    <input type="checkbox" id="select-all-checkbox">
                    Select All / Unselect All
                    <input type="checkbox" id="unselect-all-checkbox" style="display: none;">
                    <span style="display: none;">Unselect All</span>
                </label>
            </div>


}

@section Scripts {
        <script>
            var deleteButton = document.querySelector('[type="submit"]');
            deleteButton.addEventListener('click', function () {
                document.querySelector('#deleteForm').submit();
            });
        </script>
}
@section Scripts2 {
    <script>
        function blockSelectedUsers(isActive) {
            var selectedRows = $("input.delete-checkbox:checked");
            var ids = selectedRows.map(function() {
                return $(this).val();
            }).get();

            if (ids.length > 0) {
                $.ajax({
                    url: "/User/BlockUsers",
                    type: "POST",
                    data: { ids: ids, isActive: isActive },
                    success: function() {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred while blocking/unblocking selected users.");
                    }
                });
            } else {
                alert("Please select at least one user to block/unblock.");
            }
        }
    </script>
}
<script>
    // Get the "Select All" and "Unselect All" checkboxes
    const selectAllCheckbox = document.getElementById('select-all-checkbox');
    const unselectCheckbox = document.getElementById('unselect-all-checkbox');

    // Get all the checkboxes with the name "IsActive"
    const checkboxes = document.querySelectorAll('input[name="IsActive"]');

    // Add event listener to the "Select All" checkbox
    selectAllCheckbox.addEventListener('change', function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;
        });
    });

    // Add event listener to the "Unselect All" checkbox
    unselectCheckbox.addEventListener('change', function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });
    });
</script>



