@*@{
    ViewData["Title"] = "Users table";
}*@
@model IEnumerable<Task4AppMvc.Models.User>

@{
    ViewBag.Title = "UserGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserGrid</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <p>@ViewData["Message"]</p>
</div>
@using (Html.BeginForm("UserGrid", "User", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
<table class="table">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.LastLoginTime)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.LastLoginTime)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.RegistrationTime)
            </td>
             <td>
                    <input type="checkbox" name="IsActive" value="@item.Id" @(item.IsActive ? "checked" : "") class="delete-checkbox" onchange="updateIsActive(@item.Id, this.checked)" />
            </td>
            <td>
                    <input type="checkbox" name="Delete-@item.Id" value="@item.Id"/>
                    @Html.LabelFor(model => item.Id, "Delete Checkbox")       
            </td>
        </tr>
        }    
</table>
    <button type="submit" asp-action="DeleteUser" asp-controller="User" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete selected users?')">Delete Selected Users</button>
}

@section Scripts {
        <script>
            var deleteButton = document.querySelector('[type="submit"]');
            deleteButton.addEventListener('click', function () {
                document.querySelector('#deleteForm').submit();
            });
        </script>
}
